<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Module</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Add New Module</h1>
    <hr>
    <form th:action="@{/addModules}" th:object="${modules}" method="post">

        <input type="text" th:field="*{module_name}" placeholder="Module Name" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2">Add Module</button>

    </form>
</div>

</body>
</html>